
	h1 {
		font-family: 'Helvetica Neue';
		font-size: 80px;
		font-weight: 100;
		line-height: 80px;
		color: #F08080;
		text-decoration: none;
	}
	
	nav a {
		font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
		font-size: 21px;
		font-weight: 200;
		line-height: 30px;
		color: #F08080;
		text-decoration: none;
	}
	
	nav li {
 	 	padding: 0 10px;
 	 	padding-bottom: 20px;
 		display: inline-block; 

	}	

	nav ul {
 	 	display: block; 
 	 	text-align:center;
	}
	
	body {
		background-image: 
		url("http://i1064.photobucket.com/albums/u375/michellenicole17/netback_zpsncz37lam.jpg");
		background-size: cover;
	}
		
	
	h3 {
		font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
		font-size: 21px;
		font-weight: 200;
		line-height: 30px;
		color: #F08080;
		text-decoration: none;
		
		text-align: center;
	}
	
	h4 {
		font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
		font-size: 14px;
		font-weight: 300;
		line-height: 15px;
		color: #F08080;
		text-decoration: none;
		
		text-align: center;
		padding-bottom: 100px;
	}
	
	.description {
		text-align: center;
	}
	
	.image {
		display: flex;
  		flex-wrap: wrap;
 	 	justify-content: center;
 	 	padding-bottom: 10px;

	}
	

	